<footer class="text-muted">
  <div class="container">
    <p>WebCrypto Key Manager example. <a href="https://github.com/agustibr/webcrypto-key-manager">source</a></p>
  </div>
</footer>

<script src="{{ "/assets/js/cryptosubtle-support.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/key-generate.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/key-localstorage.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/key-export.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/key-download.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/key-import.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/main.js" | relative_url }}" type="text/javascript"></script>
